 .r {
     background:#CCC url("http://farm5.staticflickr.com/4139/4786360234_bbc2a9b3c1.jpg");
 }
 .test {
     width:100px;
     height:30px;
     font-size:12pt;
     background-color:#808080;
 }
 .toolbar {
     background:rgba(0, 0, 0, 0.2);
 }
 .test {
     width:100px;
     height:30px;
     font-size:12pt;
     background-color:#808080;
     left:0;
     top:0;
 }


.jscroller {
     font-size: 0;
 }

.jscroller-ul {
     width: 100%;
     display: block;
     overflow-x: auto;
     overflow-y: hidden;
     white-space: nowrap;
     list-style: none;
     list-style-type: none;
     vertical-align: baseline;
     border:0; 
     margin:0;
     padding:0;
 }

.jscroller-ul li {
     margin: 10px 0px 10px 10px;
     overflow: hidden;
     display: inline-block;
     vertical-align: top;
     padding:
 }

.jselected {
    outline: #53bd75 solid 4px;
}
