<div class="artwork-view">
  <img class="artwork-view-image" alt="<%= url %>" src="/assets/artwork/<%= url %>"/>
  <button class="btn btn-success artwork-view-btn" data-id="<%= id %>">Use this Image</button>
</div>
