<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>User ID: <%= @user.id %></p>
    <a href="http://geomaplookup.net/?ip=<%=@ip%>">From IP: <%=@ip%><a>
    <a href="http://www.deckgeek.com/admin/<%=@user.id%>">Click to view user</a>
  </body>
</html>