<div class="background-view">
  <img class="background-view-image" alt="<%= url %>" src="/assets/images/<%= url %>"/>
  <button class="btn btn-green background-view-btn" data-id="<%= id %>">Use this Image</button>
</div>
