<div id="backgrounds-carosel" class="carousel slide" data-interval="false">
  <div class="carousel-inner"></div>
  <a class="left carousel-control" href="#backgrounds-carosel" data-slide="prev">‹</a>
  <a class="right carousel-control" href="#backgrounds-carosel" data-slide="next">›</a>
</div>
