<div id="cards-carosel" class="carousel slide" data-interval="false">
  <ol class="carousel-indicators middle"></ol>
  <div class="carousel-inner"></div>
  <a class="left carousel-control" href="#cards-carosel" data-slide="prev">‹</a>
  <a class="right carousel-control" href="#cards-carosel" data-slide="next">›</a>
</div>
