<div id="cards-carosel" class="carousel slide" data-interval="false">
  <ol class="carousel-indicators middle"></ol>
  <div class="carousel-inner"></div>
  <a id="cards-carosel-left-button" class="left carousel-control" href="#cards-carosel" data-slide="prev">&lsaquo;</a>
  <a id="cards-carosel-right-button" class="right carousel-control" href="#cards-carosel" data-slide="next">&rsaquo;</a>
</div>

<script type="text/javascript">
// $(function()
// {
//   $("#cards-carosel-left-button").animate({ opacity: 0.0 }, 0)
//   $("#cards-carosel-right-button").animate({ opacity: 0.0 }, 0)

//   $("#cards-carosel").hover(
//     function(){
//       $("#cards-carosel-left-button").animate({ opacity: 1.0 }, 100)
//       $("#cards-carosel-right-button").animate({ opacity: 1.0 }, 100)
//     },
//     function(){
//       $("#cards-carosel-left-button").animate({ opacity: 0.0 }, 100)
//       $("#cards-carosel-right-button").animate({ opacity: 0.0 }, 100)
//     }
//   );
// });
</script>
