<div id="jcards-carosel" class="carousel slide" data-interval="false"><div class="carousel-inner"></div></div>
<div id="next-prev-btns" class="btn-group">
  <a id="prev-btn" class="btn btn-small btn-inverse"> Previous Card</a>
  <a id="next-btn" class="btn btn-small btn-inverse">Next Card</a>
</div>