<div class="card-view-base style-3"
 style="background: url('/assets/backgrounds/<%= background.url %>')"
  >
<div class="card-border-outlay">
  <div class="card-border">
    <div class="card-border-inlay"><div>
      <div class="eoverlay"></div>
  </div>
</div>

</div>
