<div class="card-view-base style-default style-2"

  <% if(background_id&&background.url){ s="background: url('/assets/backgrounds/" + background.url +"')" } else {s=''} %>
  style="<%= s %>">

  <div class="card-border-outlay">
    <div class="card-border">
      <div class="card-border-inlay"><div>
    </div>
  </div>
</div>
