<%
  /**************************************
  *  'Content' parent box               *
  **************************************/

  var pad=0;

  if( border_visible )
  {
    pad+= border_width;
    if( border_outline ) pad++;
    if( border_inline ) pad++;
  }

  var w=style.width - pad - pad;
  var h=style.height - pad - pad;

  var contentStyle=' style="left:0px;top:0px;width:' + w  + 'px;height:' + h  + 'px;"'
%>

<div class="content" <%= contentStyle %>>

<%
  /**************************************
  *  Title Box                    *
  **************************************/

  var el='';

  if( title_visible )
  {
      var align=0;

      if( title_alignment == "left" )
        align=0;
      else
        if( title_alignment == "right" )
          align=100-title_width
        else
        {
          if( title_width > 99)
            align=0;
          else
            align=(100-title_width)/2;
        }

      // size
      var textBoxStyle=' style="width:' + title_width + "%;" +
                       "height:" + title_height + "px;" +
                       "border-radius:" + title_border_radius + "px;" +
                       "margin-top:" + title_top_margin + "px;"+
                       "margin-left:" + align + '%;';

      // border
      if( title_border_outline )
      {
        textBoxStyle+="border: 1px outset"

        if ( title_bg_color )
          textBoxStyle+=" " + title_bg_color;

        textBoxStyle+=";"
      }

      // bg color
      if( title_bg_color )
        textBoxStyle+="background-color:" + title_bg_color + ";";

      textBoxStyle+='"';

      // finish element
      el='<div class="title-box"' + textBoxStyle +'></div>';
   }
%>
<%= el %>

<%
  /**************************************
  *  Description Box                    *
  **************************************/

  var desc='';

  if( description_visible )
  {
    description_bottom=10;
      // size
      var descriptionBoxStyle=' style="width:' + (description_width-description_horz_margin-description_horz_margin) + "%;" +
                       "height:" + description_height + "px;" +
                       "border-radius:" + description_border_radius + "px;" +
                       "bottom:" + description_bottom + "px;"+
                       "position: absolute;" +
                       "margin-left:" + description_horz_margin + '%;';

      // border
      if( description_border_outline )
      {
        descriptionBoxStyle+="border: 1px outset"

        if ( description_bg_color )
          descriptionBoxStyle+=" " + description_bg_color;

        descriptionBoxStyle+=";"
      }

      // bg color
      if( description_bg_color )
        descriptionBoxStyle+="background-color:" + description_bg_color + ";";

      descriptionBoxStyle+='"';

      // finish element
      desc='<div class="description-box"' + descriptionBoxStyle +'></div>';
   }
%>
<%= desc %>
