<div class="card-view-base style-default style-3" <%= JST['templates/styles/style-background'](this.model.attributes) %>>
<%= JST['templates/styles/style-border-begining'](this.model.attributes) %>
<%= JST['templates/styles/style-border-ending'](this.model.attributes) %>
</div>
