<% var s='' %>
<% if(background_id&&background.url){ s="background: url('/assets/backgrounds/" + background.url +"')" } %>
<% if(s!=''){s=' style="'+s+'"'} %>

<div class="card-view-base style-default style-1"<%= s %>>

<%  var bdrBegining='', bdrEnding='' %>
<%  if( border_visible){ %>

<%    if( border_outline ){  %>

<%      var bdrOutlineStyle=''; %>
<%      if( border_color ) { %>
<%        bdrOutlineStyle = ' style="border-color:' + border_color +'"' } %>

<%      bdrBegining='<div class="card-border-outline"' + bdrOutlineStyle +'>' %>
<%      bdrEnding='</div>' %>
<%    } %>

<%    var bdrStyle='' %>
<%    if( border_width ){ %>
<%       bdrStyle = "border-width:" + border_width + "px;" } %>
<%    if( border_color ) { %>
<%       bdrStyle += "border-color:" + border_color } %>

<%    if ( bdrStyle != '' ) { %>
<%       bdrStyle = ' style="' + bdrStyle +'"' } %>
<%    bdrBegining+='<div class="card-border"' + bdrStyle +'>' %>
<%    bdrEnding+='</div>' %>

<%    if( border_inline ){ %>

<%      var bdrInlineStyle=''; %>
<%      if( border_color ) { %>
<%        bdrInlineStyle = ' style="border-color:' + border_color +'"' } %>

<%        bdrBegining+='<div class="card-border-inline"' + bdrOutlineStyle +'>' %>
<%        bdrEnding+='</div>' %>
<%    } %>

<%= bdrBegining %>
<%= bdrEnding %>

<% } %>

</div>
