 <div id="card-style-carosel" class="carousel slide" data-interval="false">
  <div class="carousel-inner"></div>
  <a class="left carousel-control" href="#card-style-carosel" data-slide="prev">‹</a>
  <a class="right carousel-control" href="#card-style-carosel" data-slide="next">›</a>
</div>
<div class="line"></div>
