<div class="hero-unit game-hero-unit">
  <h1>Deck Geek</h1>
  <p>Design and print your own card games.</p>
</div>

<div class="btn-toolbar">
   <button id="new-game-button" class="btn btn-large btn-blue">Add a New Game</button>
</div>
 
<div class="games-list"></div>
