<h1><%= name %></h1>
<p><%= description %></p>

<button id="edit-btn" class="btn btn-black" data-toggle="collapse" data-target="#edit-fields">Edit</button>

<div id="edit-fields" class="collapse out">
  <input id="input-name" type="text" placeholder="Name" value="<%= name %>"/>
  <input id="input-description" type="text" value="<%= description %>" placeholder="Description"/>
  <button id="hero-save-btn" class="btn btn-green">Save</button>
</div>
