<div class="hero-unit game-hero-unit">
  <h1>My Games</h1>
  <p>Dream, design, play.</p>
</div>

<div class="btn-toolbar">
   <button id="new-game-button" class="btn btn-large btn-danger">Add a new game</button>
</div>

<div class="line"></div>
<div class="games-list"></div>
