<div class="game-name"><%= name %></div>

<div class="btn-group game-toolbar">
  <div class="btn btn-success btn-wide edit-game-button">Edit Game</div>
  <div class="btn btn-inverse delete-game-btn">Delete</div>
</div>

