<p class="lead game-name"><%= name %></p>
<div class="game-bottom">
  <div class="game-description"><%= description %><div>
  <div class="btn delete-game-btn">Delete</div>
  <div class="btn btn-green edit-game-button">Edit Game!</div>
</div>
