<div class="navbar">
  <div class="navbar-inner">
    <div class="container">
      <div class="brand" href="">My Games</div>
        <ul class="nav pull-right">
          <li><div class="btn btn-danger new-game-button">Create New Game</div></li>
        </ul>
      </div>
    </div>
  </div>
</div>
<div class="games-list"></div>
