<div class="navbar">
  <div class="navbar-inner">
    <div class="container">
      <div class="brand" href="">My Games</div>
         <a href="/" class="btn btn-danger pull-right new-game-button">Create New Game</a>
      </div>
    </div>
  </div>
</div>
<div class="games-list"></div>
