<p class="lead game-name"><%= name %></p>
<div class="game-bottom">
  <div class="game-description"><%= description %><div>
  <div class="btn btn-blue delete-game-button">Delete</div>
  <div class="btn btn-blue print-game-button">Print Game!</div>
  <div class="btn btn-green edit-game-button">Edit Game!</div>
</div>
