<div class="btn-toolbar ">
<button id="add-card-btn" class="btn btn-large btn-success">Add a New Card</button>
  <button id="chang-style-btn" class="btn btn-large btn-success">Change Deck Style</button>
</div>
<div class="line"></div>
<div class="cards-list"></div>
