<div class="btn-toolbar ">
  <div class="btn-group">
    <button id="add-card-btn" class="btn btn-large btn-danger">Add a new card</button>
  </div>
</div>
<div class="line"></div>
<div class="cards-list"></div>
