<!-- button toolbar-->
<div class="btn-toolbar">
  <div class="btn-group">
    <button class="btn btn-large disabled save-changes-btn" style="width:154px">Save Changes</button>
    <button id="prev-card-btn" class="btn btn-large" style="width:154px">Previous Card</button>
    <button id="next-card-btn" class="btn btn-large" style="width:154px">Next Card</button>
  </div>
  <button class="btn btn-large pull-right" onclick="window.history.back();">Back</button>
</div>

<!-- line for fools-->
<div class="line"></div><br/>

<!-- divide into two columns-->
<div class="row-fluid">

  <!-- left column -->
  <div class="span6">

    <!-- images accordian -->
    <div class="accordion" id="accordion1">
      <div class="accordion-group">
        <div class="accordion-heading">
          <button class="btn btn-wide " data-toggle="collapse" data-parent="#accordion1" href="#collapseOne">Image</button>
        </div>
        <div id="collapseOne" class="accordion-body collapse in">
          <div class="accordion-inner">

            <!-- images-holder -->
            <div class="images-holder"></div>

          </div>
        </div>
      </div>
    </div>

    <!-- edit text accordian -->
    <div class="accordion" id="accordion2">
      <div class="accordion-group">
        <div class="accordion-heading">
           <button class="btn btn-wide " data-toggle="collapse" data-parent="#accordion2" href="#collapseTwo">Text</button>
        </div>
        <div id="collapseTwo" class="accordion-body collapse in">
          <div class="accordion-inner">
            <div class="card-edit-view-parent">

              <!-- text-inputs -->
              <input id="name-input" type="text" placeholder="Heading" value="<%= name %>"></input>
              <input id="misc-input" type="text" placeholder="Misc" ></input>
              <textarea id="description-input" type="text" placeholder="Description"><%= description %></textarea>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- right column -->
  <div class="span6">

    <!-- card preview view -->
    <div id="card-preview-parent"></div>

  </div>

</div>
