<div class="card-view">
  <div class="card-base card-1 ">
    <div class="card-style <%= style.class_name %>">
      <div class="card-name"><%= name %></div>
        <div class="btn-group">
          <div class="btn delete-card-btn">Delete</div>
          <div class="btn btn-success edit-card-button">Edit</div>
        </div>
      </div>
    </div>
  </div>
</div>
