<div class="btn-toolbar ">
<button id="add-card-btn" class="btn btn-large btn-danger">Add a New Card</button>
  <button id="chang-style-btn" class="btn btn-large btn-danger " data-toggle="collapse" data-target="#card-style-carosel-parent">Change Deck Style</button>
</div>
<div class="line"></div>



<div class="cards-list"></div>












