<!-- button toolbar-->
<div class="btn-toolbar">
  <div class="btn-group">
    <button class="btn btn-large btn-success disabled save-changes-btn" style="width:154px">Save Changes</button>
    <button id="prev-card-btn" class="btn btn-large" style="width:154px">Previous Card</button>
    <button id="next-card-btn" class="btn btn-large" style="width:154px">Next Card</button>
  </div>
  <button class="btn btn-large pull-right" onclick="window.history.back();">Back</button>
</div>

<!-- line for fools-->
<div class="line"></div><br/>

<!-- divide into two columns-->
<div class="row-fluid">

  <!-- left column -->
  <div class="span6">

    <!-- artworks accordian -->
    <div class="accordion" id="accordion1">
      <div class="accordion-group">
        <div class="accordion-heading">
          <button class="btn btn-wide " data-toggle="collapse" data-parent="#accordion1" href="#collapseOne">Image</button>
        </div>
        <div id="collapseOne" class="accordion-body collapse in">
          <div class="accordion-inner">

            <!-- artworks-parent -->
            <div id="artworks-view-parent"></div>

          </div>
        </div>
      </div>
    </div>

    <!-- edit text accordian -->
    <div class="accordion" id="accordion2">
      <div class="accordion-group">
        <div class="accordion-heading">
           <button class="btn btn-wide " data-toggle="collapse" data-parent="#accordion2" href="#collapseTwo">Text</button>
        </div>
        <div id="collapseTwo" class="accordion-body collapse in">
          <div class="accordion-inner">
            <div class="card-edit-view-parent">

              <!-- text-inputs -->
              <input id="name-input" type="text" placeholder="Heading" value="<%= name %>"></input>
              <input id="misc-input" type="text" placeholder="Misc" ></input>
              <textarea id="description-input" type="text" placeholder="Description"><%= description %></textarea>

            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- border accordian -->
    <div class="accordion" id="accordionborder">
      <div class="accordion-group">
        <div class="accordion-heading">
          <button class="btn btn-wide " data-toggle="collapse" data-parent="#accordionborder" href="#collapseaccordionborder">Border</button>
        </div>
        <div id="collapseaccordionborder" class="accordion-body collapse in">
          <div class="accordion-inner">

          <!-- border inputs -->
          <label>Border Style:</label>
          <select id="border-style-select" class="border-control">
            <option <% if (border_style == 'none') { %> selected="selected"<% } %>value="none">None</option>
            <option <% if (border_style == 'solid') { %> selected="selected"<% } %> value="solid">Solid</option>
            <option <% if (border_style == 'inset') { %> selected="selected"<% } %>value="inset">Raised</option>
            <option <% if (border_style == 'outset') { %> selected="selected"<% } %>value="outset">Lowered</option>
            <option <% if (border_style == 'groove') { %> selected="selected"<% } %>value="groove">Groove</option>
            <option <% if (border_style == 'double') { %> selected="selected"<% } %>value="double">Double</option>
            <option <% if (border_style == 'ridge') { %> selected="selected"<% } %>value="ridge">Ridge</option>
          </select>

          <!-- border width -->
          <label>Border Width:</label>
          <input id="border-width-slider" class="border-control" type="range" name="points" min="0" max="4" step="0.1" value="<%= border_width %>">

          <!-- border color -->
          <label>Border Color:</label>
          <div id="border-color-picker"></div>

          </div>
        </div>
      </div>
    </div>

    <!-- background accordian -->
    <div class="accordion" id="accordion-background">
      <div class="accordion-group">
        <div class="accordion-heading">
           <button class="btn btn-wide " data-toggle="collapse" data-parent="#accordion-background" href="#collapseFour">Background</button>
        </div>
        <div id="collapseFour" class="accordion-body collapse in">
          <div class="accordion-inner">

            <!-- background images view -->
            <div id="backgrounds-view-parent"></div>

          </div>
        </div>
      </div>
    </div>

  </div>

  <!-- right column -->
  <div class="span6">

    <!-- card preview view -->
    <div id="card-preview-parent"></div>

  </div>

</div>
