<div class="deck bottom">
  <div class="deck mid ">
    <div class="deck mid">
     <div class="deck mid">
       <div class="deck top">
          <div class="deck-name"><%= name %></div>
            <div class="btn-group">
              <div class="btn delete-deck-btn">Delete</div>
              <div class="btn btn-info edit-deck-button">Edit</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
