<div class="btn-toolbar ">
  <div class="btn-group">
    <button class="btn btn-large btn-danger">Add a new deck of cards</button>
  </div>
</div>
<div class="line"></div>
<div class="decks-list"></div>
