<div class="deck-view">
  <div class="deck-base card-1">
    <div class="deck-name"><%= name %></div>
      <div class="btn-group">
        <div class="btn delete-deck-btn">Delete</div>
        <div class="btn btn-success edit-deck-button">Edit</div>
      </div>
    </div>
  </div>
  <div class="deck-base card-2"></div>
  <div class="deck-base card-3"></div>
  <div class="deck-base card-4"></div>
  <div class="deck-base card-5"></div>
  <div class="deck-base card-6"></div>
</div>
