<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/all.js#xfbml=1";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

<h3 class="text-center">Below you can download a printable .pdf file with all of your game's cards.</h3>
<br/><p class="text-center">The download is free.</p>
<p class="text-center">Please help promote this site with a tweet or shout out to facebook of google+.</h3>

<br/><br/><br/>
<div class="text-center">
<a href="https://twitter.com/share" class="twitter-share-button" data-url="http://www.deckgeek.com" data-text="I just made a card game at deckgeek.com, it's free and you can make one too." data-via="deckgeek" data-size="large">Tweet</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>



<div class="fb-like" data-href="https://www.facebook.com/pages/deckgeekcom/" data-colorscheme="dark" data-layout="box_count" data-action="like" data-show-faces="false" data-send="false"></div>

</div>
<br/><br/>
<h4 class="text-center">Click the button below to download a printable pdf of your game.<h4>
<br/>

<div class="centered">
  <a href="print.pdf" class="btn btn-green btn-wide">Download .pdf for printing!</a>
</div>
