<div class="hero-holder"></div>

<div class="btn-toolbar">
  <button id="add-deck-btn" class="btn btn-large btn-blue">Add a New Deck</button>
  <a class="btn btn-large pull-right" href="/">Back to Games</a>
</div>

<div class="line"></div>

<div class="decks-holder"></div>

<script type="text/javascript">

  $(function()
  {
    addGameHero( '.hero-holder', <%= @game.to_json.to_s.html_safe %> );
    addDecks( '.decks-holder' , <%= @game.id %> );
  });

  $( "#add-deck-btn" ).bind( "click", function()
  {
    window.App.views.decksView.newDeck();
  });

</script>
