<div class="hero-holder"></div>

<div class="btn-toolbar">
  <button id="add-deck-btn" class="btn btn-large btn-blue">Add a New Deck</button>
  <a class="btn btn-black btn-large pull-right" href="/">Back to Games</a>
</div>



<div class="decks-holder"></div>

<script type="text/javascript">

  $(function()
  {
    addGameHero( '.hero-holder', <%= @game.to_json.to_s.html_safe %> );
    addDecks( '.decks-holder' , <%= @game.id %> );
  });

  $( "#add-deck-btn" ).bind( "click", function()
  {
    window.App.views.decksView.newDeck();
  });


  window.onload = function() { 
  
    var gametour = new Tour({
      name: "GameTour",
      debug: true,
      backdrop: true,
      storage: window.localStorage
    });

    gametour.addSteps([
    {
      element: "#add-deck-btn",
      title: "Add a new deck",
      content: "Click this button to add a new deck to your game. Go crazy dude.", 
      placement: "right" 
    },
    {
      element: $(".deck-view").first() ,
      title: "Your Deck",
      content: "This is your deck of cards. Enjoy.",
      placement: "right",
      backdrop: false
    },
    {
      element: $(".edit-deck-button").first() ,
      title: "Editing your deck",
      content: "This will take you to the edit window to create your cards.",
      placement: "right",
      backdrop: false
    },
    {
      element: "#edit-btn",
      title: "Game Name",
      content: "Click this to change your game name or description.",
      placement: "top" 
    }]);

    <% if !get_current_user %>
      //only start tour for guest users
      gametour.start();
    <% end %>
  }

</script>
