<div class="show-game">
    <div class="navbar">
    <div class="navbar-inner">
      <div class="container">
        <div class="brand" href="">Edit Game</div>
          <a href="/" class="btn btn-danger pull-right">Back to Games</a>
        </div>
      </div>
    </div>
  <div>

  <div class="hero-unit">
    <h1><%= @game.name %></h1>
    <p><%= @game.description %></p>
    <p>
      <a class="btn btn-primary btn-large">
        Bla
      </a>
    </p>
  </div>

  <!-- Load the decks -->
  <script type="text/javascript">
    window.App = window.App || {};
    window.App.data = window.App.data || {};
    App.data.game_id = <%= @game.id %>;
    $(function(){getDecks('.show-game');});
  </script>
</div>
