<div class="hero-holder"></div>

<div class="btn-toolbar bump-it">
  <button id="add-deck-btn" class="btn btn-large btn-danger">Add a New Deck of Cards</button>
  <button class="btn btn-large pull-right" onclick="window.history.back();">Back</button>
</div>

<div class="decks-holder"></div>

<script type="text/javascript">

  window.App = window.App || {};
  window.App.data = window.App.data || {};

  App.data.game_id = <%= @game.id %>;

  $(function(){
    getGameHero('.hero-holder', <%= @game.to_json.to_s.html_safe %>);
    getDecks('.decks-holder', <%=  @decks.to_json.to_s.html_safe %>);
  });

  $("#add-deck-btn").bind("click", function(){
    window.decksView.newDeck();
  });

</script>
