<table class="table">
<thead><tr><th>ID</th><th>Subject</th><th>Message</th><th>Created</th></tr></thead>
<tbody>
  <% @feedbacks.each do |feedback| %>
  <tr>
    <td><%= feedback.user_id %></td>
    <td><%= feedback.subject %></td>
    <td><%= feedback.body %></td>
   <td><%= feedback.created_at %></td>
   </tr>  
  <% end %>
</tbody>
</table>
