<!-- all card stuff-->
<div class="cards-parent"></div>

<script type="text/javascript">

  $(function()
  {
     addCardsView('.cards-parent', <%= @cards.to_json.to_s.html_safe %>,false,true);
  });

</script>
