<div class="cards-parent"></div>

<script type="text/javascript">

  $(function(){
    //@cards.map{ |c| c.get_json }.to_json.to_s.html_safe
     addCardsView('.cards-parent',  <%= @cards.to_json.to_s.html_safe %>, false );
  });

</script>
