<div class="hero-holder"></div>

<div class="btn-toolbar">
  <button id="none" class="btn btn-large btn-danger">?</button>
  <button class="btn btn-large pull-right" onclick="window.history.back();">Back</button>
</div>

<div class="line"></div>

<div class="images-holder"></div>

<div class="card-holder"></div>

<script type="text/javascript">

  window.App = window.App || {};
  window.App.data = window.App.data || {};

  App.data.card_id = <%= @card.id %>;

  $(function(){
    getCardHero('.hero-holder', <%= @card.to_json.to_s.html_safe %>);
    getImages('.images-holder', <%= @images.to_json.to_s.html_safe %>);

  });

</script>
