<div class="show-card">
    <div class="navbar">
    <div class="navbar-inner">
      <div class="container">
        <div class="brand" href="">Edit Card</div>
          <a href="javascript:history.back();" class="btn btn-danger pull-right">Back </a>
        </div>
      </div>
    </div>
  <div>

  <div class="hero-unit">
    <h1><%= @card.name %></h1>
    <p><%= @card.description %></p>
    <p>
      <a class="btn btn-primary btn-large">
        Bla
      </a>
    </p>
  </div>

</div>
