<div class="hero-holder"></div>

<div class="card-edit-holder"></div>

<script type="text/javascript">

  $(function(){
    getCardEdit('.card-edit-holder', <%= @card.to_json(:include => { :style => {:only => :template_name },:image => {:only => :url }}).to_s.html_safe %>,
      <%= @nextCardIndex %>,<%= @prevCardIndex %>);
});

</script>

