<div class="hero-holder"></div>

<div class="card-edit-holder"></div>

<script type="text/javascript">

  App.data.card_id = <%= @card.id %>;

  $(function(){
    getCardEdit('.card-edit-holder', <%= @card.to_json.to_s.html_safe %>);
});

</script>
