<script>

  function addColorPickerWithAlpha( id, attrib ){
    $(id).spectrum({
        color: attrib,
        showAlpha: true,
        showInput: true,
        showPalette: true,
        preferredFormat: "rgb",
        localStorageKey: "spectrum.gamegen",
        hide: function(tinycolor){
          $(id).trigger('change');
        },
    });
  }

  function addColorPicker( id, attrib ){
    $(id).spectrum({
        color: attrib,
        showAlpha: false,
        showInput: true,
        showPalette: true,
        preferredFormat: "hex6",
        localStorageKey: "spectrum.gamegen",
        hide: function(tinycolor){
          $(id).trigger('change');
        },
    });
  }
</script>

<!-- top toolbar -->
<div id="top-toolbar">

  <div class="row">
  
  <div class="span4 lefty">
    <div class="btn-group">
      <a id="save-btn" title="Save cards" class="btn btn-green">Save</a>
    </div>
    <div class="btn-group">
      <a id="undo-btn" class="btn btn-inverse" title="Undo"><i class="icon-white icon-chevron-left"></i> Undo</a>
      <a id="redo-btn" class="btn btn-inverse" title="Redo">Redo <i class="icon-white icon-chevron-right"></i></a>
    </div>
  </div>
  
  <div class="span4">
    <!-- <div class="btn-group">
      <a id="snap-to-grid-btn" data-toggle="buttons-radio" title="Snap to grid" class="btn btn-inverse"><i class="icon-white icon-th"></i> Grid</a>
    </div> -->
    <div class="center-btns">
    <div class="btn-group">
      <a id="add-text-btn" title="Add a text area" class="btn btn-inverse "><i class="icon-white icon-pencil"></i> Add Text</a>
      <a id="add-img-btn" title="Add an image" class="btn btn-inverse "><i class="icon-white icon-picture"></i> Add Image</a>
    </div>
   </div>
</div>
  <div class="span4">
    <div class="btn-group pull-right">
      <a id="delete-btn" title="Delete" class="btn btn-red "><i class="icon-white icon-trash"></i> Delete</a>
    </div>
  </div>
</div>  

  
 
  
</div>

<!-- card -->
<div class="row">
  
  <!-- card properties -->
  <div class="span4">

    <!-- bg properties -->
    <div class="control-row">
      <div class="title">Background</div>

      <div class="btn-group">
        <a id="bg-image-choose-btn" title="Choose an image" class="btn btn-inverse"><i class="icon-white icon-picture"></i></a>
      </div>
       
      <div class="small-label">Size</div>
      <div class="btn-group">
        <a id="bg-smaller-btn" title="Make background image smaller" class="btn btn-inverse"><i class="icon-white icon-minus"></i></a>
        <a id="bg-bigger-btn" title="Make background image larger" class="btn btn-inverse"><i class="icon-white icon-plus"></i></a>
      </div>

      <div class="btn-group">
        <a id="bg-color-btn" title="Border color" class="btn btn-inverse color-picker-btn"><input type='text' id="bg-color-picker"/>
          <script>addColorPicker( "#bg-color-picker", "0x808080")</script>
        </a>
      </div>
      <div class="btn-group pull-right">
        <a id="delete-bg-btn" title="Delete background image" class="btn btn-inverse"><i class="icon-white icon-trash"></i></a>
      </div>
    </div>
    
    <!-- border properties -->
    <div class="control-row">
      <div class="title">Border</div>
      <div class="btn-group">
        <a id="bdr-color-btn" title="Background color" class="btn btn-inverse color-picker-btn">
          <input type='text' id="bdr-color-picker"/>
          <script>addColorPickerWithAlpha( "#bdr-color-picker", "0x808080")</script>
        </a>
      </div>

      <div class="small-label">Size</div>
      
      <div class="btn-group">
        <a id="bdr-smaller-btn" title="Make border wider" class="btn btn-inverse"><i class="icon-white icon-minus"></i></a>
        <a id="bdr-bigger-btn" title="Make border smaller" class="btn btn-inverse"><i class="icon-white icon-plus"></i></a>
      </div>
      
      
    </div>
    
    <!-- image properties -->
    <div class="control-row">
      <div class="title">Image</div>
      <div class="btn-group">
        <a id="image-choose-btn" title="Choose an image" class="btn btn-inverse"><i class="icon-white icon-picture"></i></a>
      </div>
      <div class="small-label">Size</div>
      
      <div class="btn-group">
        <a id="image-smaller-btn" title="Make image bigger" class="btn btn-inverse"><i class="icon-white icon-minus"></i></a>
        <a id="image-bigger-btn" title="Make image smaller" class="btn btn-inverse"><i class="icon-white icon-plus"></i></a>
      </div>
    </div>    
  </div>

  <div class="span4">
    <div id="jcards-view"></div>
  </div>

  <div class="span4">

    <!-- text box properties -->
    <div class="control-row">
      <div class="title">Text</div>
      <textarea rows="3" id="txt-text" type="Enter text here" placeholder="Text"></textarea>
    
      <div class="btn-group">
        <a class="btn   btn-inverse" data-toggle="dropdown" href="#"><i class="icon-white icon-font"></i></a>
        <ul class="dropdown-menu">
          <li><a href="">Serif</a></li>
          <li><a href="">Arial</a></li>
          <li><a href="">Sans-Serif</a></li>                                  
          <li><a href="">Tahoma</a></li>
          <li><a href="">Verdana</a></li>
          <li><a href="">Lucida Sans Unicode</a></li>   
        </ul>
          <a id="text-color-btn" title="Text border color" class="btn btn-inverse color-picker-btn">
          <input type='text' id="text-color-picker"/>
          <script>addColorPickerWithAlpha( "#text-color-picker", "0x808080")</script>
        </a>
      </div> 
 
      <div class="btn-group">
        <a id="txt-size-smaller-btn" title="Make font smaller" class="btn btn-inverse"><i class="icon-white icon-minus"></i></a>
        <a id="txt-size-bigger-btn" title="Make font bigger" class="btn btn-inverse"><i class="icon-white icon-plus"></i></a>
      </div> 
  
      <div class="btn-group pull-right">
        <a id="txt-align-left-btn" title="Align left" class="btn btn-inverse"><i class="icon-white icon-align-left"></i></a>
        <a id="txt-align-center-btn" title="Align center" class="btn btn-inverse"><i class="icon-white icon-align-center"></i></a>
        <a id="txt-align-right-btn" title="Align right" class="btn btn-inverse"><i class="icon-white icon-align-right"></i></a>
      </div>
    </div>


    <div class="control-row">
      <div class="title">Background</div>
      <div class="btn-group">
        <a id="text-bg-color-btn" title="Text background color" class="btn btn-inverse color-picker-btn">
          <input type='text' id="text-bg-color-picker"/>
          <script>addColorPickerWithAlpha( "#text-bg-color-picker", "0x808080")</script>
        </a>
      </div>
       <div class="btn-group pull-right">
        <a id="delete-text-bg-btn" title="Delete background" class="btn btn-inverse"><i class="icon-white icon-trash"></i></a>
      </div>
    </div>


    <div class="control-row">
    
      <div class="title">Border</div>
     
      <div class="btn-group">
      <a id="text-bdr-color-btn" title="Text border color" class="btn btn-inverse color-picker-btn">
        <input type='text' id="text-bdr-color-picker"/>
        <script>addColorPickerWithAlpha( "#text-bdr-color-picker", "0x808080")</script>
      </a>
      </div>
      
      <div class="small-label">Size</div>
      
      <div class="btn-group">
        <a id="txt-bdr-smaller-btn" title="Make border wider" class="btn btn-inverse"><i class="icon-white icon-minus"></i></a>
        <a id="txt-bdr-bigger-btn" title="Make border smaller" class="btn btn-inverse"><i class="icon-white icon-plus"></i></a>
      </div>
      
      <div class="small-label">Curve</div>
      
      <div class="btn-group">
        <a id="text-bdr-radius-smaller-btn" title="Make border radius wider" class="btn btn-inverse"><i class="icon-white icon-minus"></i></a>
        <a id="text-bdr-radius-bigger-btn" title="Make border radius smaller" class="btn btn-inverse"><i class="icon-white icon-plus"></i></a>
      </div>

    </div>  
  </div>
</div>

<!-- image toolbar -->
<div class="navbar-fixed-bottom">
  <div id="tags-scroller"></div>
  <div id="images-scroller"></div>
</div>

<script type="text/javascript">

  $(function()
  {
    // element adjustments
    $('.navbar-fixed-top').remove();
    $('#top-toolbar').addClass('navbar-fixed-top');
    $('body').attr('style','background-color:#414141;');

    // top toolbar events
    $( '#save-btn' ).click( function(){
      $( '#jcards-view' ).trigger( jQuery.Event("save"));
    });

    $( '#undo-btn' ).click( function(){
      $( '#jcards-view' ).trigger( jQuery.Event("undo"));
    });

    $( '#redo-btn' ).click( function(){
      $( '#jcards-view' ).trigger( jQuery.Event("redo"));
    });

    $( '#snap-to-grid-btn').click( function(e)
    {
      if($('#snap-to-grid-btn').hasClass('active'))
        $('#snap-to-grid-btn').trigger( jQuery.Event("disableDragGrid"));
      else
        $('#snap-to-grid-btn').trigger( jQuery.Event("enableDragGrid"));
    });

    // card properties
    $('#delete-bg-btn').click( function(e){
       $('body').trigger( jQuery.Event("removeBgImage"));
    });

    $("#bg-color-picker").bind('change', function(e){
      var event=jQuery.Event("setBgColor");
      event.color=$("#bg-color-picker").spectrum("get").toRgbString();
      $('body').trigger(event);
    });

    $('#bg-smaller-btn').click( function(e){
       $('body').trigger( jQuery.Event("bgImageSmaller"));
    });

    $('#bg-bigger-btn').click( function(e){
       $('body').trigger( jQuery.Event("bgImageBigger"));
    });

    $('#bdr-smaller-btn').click( function(e){
       $('body').trigger( jQuery.Event("bdrSmaller"));
    });

    $('#bdr-bigger-btn').click( function(e){
       $('body').trigger( jQuery.Event("bdrBigger"));
    });

    $("#bdr-color-picker").bind('change', function(e){
      var event=jQuery.Event("setBdrColor");
      event.color=$("#bdr-color-picker").spectrum("get").toRgbString();
      $('body').trigger(event);
    });

    $('#add-text-btn').click( function(e){
       $('body').trigger( jQuery.Event("addTextArea"));
    });

    $("#text-bg-color-picker").bind('change', function(e){
      var event=jQuery.Event("setTextAreaBgColor");
      event.color=$("#text-bg-color-picker").spectrum("get").toRgbString();
      $('body').trigger(event);
    });

    $('#text-bdr-radius-smaller-btn').click( function(e){
       $('body').trigger( jQuery.Event("setTextAreaBdrRadiusSmaller"));
    });

    $('#text-bdr-radius-bigger-btn').click( function(e){
       $('body').trigger( jQuery.Event("setTextAreaBdrRadiusBigger"));
    });

    $('#txt-bdr-smaller-btn').click( function(e){
      $('body').trigger( jQuery.Event("setTextAreaBdrSmaller"));
    });

    $('#txt-bdr-bigger-btn').click( function(e){
       $('body').trigger( jQuery.Event("setTextAreaBdrBigger"));
    });

    $("#text-bdr-color-picker").bind('change', function(e){
      var event=jQuery.Event("setTextAreaBdrColor");
      event.color=$("#text-bdr-color-picker").spectrum("get").toRgbString();
      $('body').trigger(event);
    });

    $( "#txt-text" ).on("keyup", function() {
      var event=jQuery.Event("setTextAreaText");
      event.text = $( this ).val();
      $('body').trigger(event);  ;
    });
 

    $( "#txt-font" ).on("change", function() {
      var event=jQuery.Event("setTextAreaFont");
      event.fontFamily = $( this ).val();
      $('body').trigger(event);
    });

    $('#txt-size-bigger-btn').click( function(e){
       $('body').trigger( jQuery.Event("setTextAreaFontSizeBigger"));
    });

    $('#txt-size-smaller-btn').click( function(e){
       $('body').trigger( jQuery.Event("setTextAreaFontSizeSmaller"));
    });
      
    $("#text-color-picker").bind('change', function(e){
      var event=jQuery.Event("setTextAreaFontColor");
      event.color=$("#text-color-picker").spectrum("get").toRgbString();
      $('body').trigger(event);
    });

    $('#txt-align-left-btn').click( function(e){
       $('body').trigger( jQuery.Event("setTextAreaAlignLeft"));
    });

    $('#txt-align-center-btn').click( function(e){
       $('body').trigger( jQuery.Event("setTextAreaAlignCenter"));
    });

    $('#txt-align-right-btn').click( function(e){
       $('body').trigger( jQuery.Event("setTextAreaAlignRight"));
    });

    $('#add-img-btn').click( function(e){
       $('body').trigger( jQuery.Event("addImage"));
    });
        
    $('#image-smaller-btn').click( function(e){
       $('body').trigger( jQuery.Event("setImageSmaller"));
    });

    $('#image-bigger-btn').click( function(e){
       $('body').trigger( jQuery.Event("setImageBigger"));
    });
 
    $('#delete-btn').click( function(e){
       $('body').trigger( jQuery.Event("deleteSelected"));
    }); 

    $('#bg-image-choose-btn').click( function(e){
       $('body').trigger( jQuery.Event("showImagesView"));
    });

    // SETTERS
    // $("body").delegate( "", "setBgColor", function(e){
    //   $("#bg-color-picker").spectrum({color:e.color});
    // });

    // $("body").delegate( "", "setBdrColor", function(e){
    //   $("#bdr-color-picker").spectrum({color:e.color});
    // });
 
    // add backbone stuff
    addImagesView("#images-scroller",<%= @images.to_json.to_s.html_safe %>,{multiple:false} );
    addTagsView("#tags-scroller",<%= @tags.to_json.to_s.html_safe %>,{multiple:false} );
    addJCards("#jcards-view",  <%= @card.id %>, <%= @cards.to_json.to_s.html_safe %>);

  });

</script>
