<!-- all card edit stuff-->
<div class="card-edit-view-parent"></div>

<script type="text/javascript">

  $(function()
  {
    addCardEditView('.card-edit-view-parent',
                    <%= @card.id %>,
                    <%= @backgrounds.to_json.to_s.html_safe %>,
                    <%= @images.to_json.to_s.html_safe %>,
                    <%= @cards.to_json.to_s.html_safe %>);
  });

</script>
