/*****************************
 * This is for viewing a card
 * anywhere these can be used
 * anywhere
 ****************************/

.card-view-base {
  width: 200px;
  height: 300px;
  border: 1px solid #d0d0d0;
  border-radius: 10px;
  position: absolute;
  background-color: #fafafa;
  overflow: hidden;
}

.card-view-border-view {
  width: 100%;
  height: 100%;
}

.card-view-shadow {
  -webkit-box-shadow: 2px 2px 4px 0px rgba( 48, 48, 48, .3 );
  box-shadow: 2px 2px 4px 0px rgba( 48, 48, 48, .3 );
}

/****************************
 * This is for the card view
 * and edit stuff
 ****************************/

.card-edit-view-parent {

 /****************************
  * Accordian
  ****************************/

  .accordion {
    margin-bottom: 5px;
  }

  .accordion-group {
    border: 0px;
  }

  .accordion-inner {
    border-top: 0px;
  }

  .accordion-heading .btn {
    width: 100%;
  }

  /****************************
   * Text Input
   ****************************/

  input {
    width: 96%;
  }

  textarea {
    width: 96%;
    height: 150px;
  }

 /****************************
  * Border
  ****************************/

  .border-control {
    width: 100%;
  }

  .color-control {
    width: 420px;
  }

 /****************************
  * Card Preview
  ****************************/

  #card-preview-view {

    .center {
      position: relative;
      margin: 0 auto;
      margin-top: 20px;
    }
  }

 /****************************
  * Cards Carosel
  ****************************/

  #cards-carosel {
    margin-top: 30px;
    height: 400px;

    .carousel-inner {
      height: 100%;
    }

    .center {
      position: relative;
      margin: 0 auto;
      margin-top :20px;
    }

    .carousel-indicators li {
      background-color: #a0a0a0;
    }

    .carousel-indicators .active {
      background-color: #303030;
    }

    .carousel-indicators.middle {
      left: 0;
      right: 0;
      top: auto;
      bottom: 15px;
      text-align: center;
    }

    .carousel-indicators.middle li
    {
      float: none;
      display: inline-block;
    }

    .edit-card-btn
    {
      display: block;
      margin: 0 auto;
      margin-top: 8px;
      width: 200px;
    }
  }

 /****************************
  * Background Image Carosel
  ****************************/

  #backgrounds-carosel {
    margin-top: 10px;
    height: 240px;
    margin-bottom: 2px;

    .background-view {
      width: 280px;
      height: 240px;
      margin-left: auto;
      margin-right: auto;
    }

    .background-view-image {
      display: block;
      margin: 0 auto;
      max-height: 200px;
      -webkit-box-shadow: 2px 2px 4px 0px rgba(48, 48, 48, .5);
      box-shadow: 2px 2px 4px 0px rgba(48, 48, 48, .5);
    }

    .background-view-btn {
      width: 280px;
      position: absolute;
      bottom: 0;
    }
  }

 /****************************
  * Artwork Image Carosel
  ****************************/

  #artworks-carosel {
    margin-top: 10px;
    height: 240px;
    margin-bottom: 2px;

    .artwork-view {
      width: 280px;
      height: 240px;
      margin-left: auto;
      margin-right: auto;
    }

    .artwork-view-image {
      display: block;
      margin: 0 auto;
      max-height: 200px;
      -webkit-box-shadow: 2px 2px 4px 0px rgba(48, 48, 48, .5);
      box-shadow: 2px 2px 4px 0px rgba(48, 48, 48, .5);
    }

    .artwork-view-btn {
      width: 280px;
      position: absolute;
      bottom: 0;
    }
  }
}
