.card-edit-view-parent {

  #card-preview-view {

    .center {
      position:relative;
      margin:0 auto;
      margin-top:20px;
    }
  }

  .label-left-might-NOTNEED {
    float: left;clear: left;
    margin-top:5px;
    width:100px;
  }

  .border-control {
    width:100%;
  }

.color-control {
    width:420px;
  }
}
