/*****************************
 * This is for viewing a card
 * anywhere these can be used
 * anywhere
 ****************************/

.card-view-base {
  overflow: hidden;
  margin-left:auto;
  margin-right:auto;
  vertical-align:middle;
}

.card-view-shadow {
  -webkit-box-shadow: 2px 2px 4px 0px rgba( 48, 48, 48, .3 );
  box-shadow: 2px 2px 4px 0px rgba( 48, 48, 48, .3 );
}

/****************************
 * This is for the card view
 * and edit stuff
 ****************************/

// overriding spectrum color picker colors
.sp-container {
  background-color:  rgba( 236, 236, 236, 0.94 );
  border-radius: 3px;
  border-color: #CCC;
  -webkit-box-shadow: 2px 2px 4px 0px rgba( 48, 48, 48, .3 );
  box-shadow: 2px 2px 4px 0px rgba( 48, 48, 48, .3 );
}

.card-edit-view-parent {

 /****************************
  * Accordian
  ****************************/

  .accordion {
    margin-bottom: 5px;
  }

  .accordion-group {
    border: 0px;
  }

  .accordion-inner {
    border-top: 0px;
  }

  .accordion-heading .btn {
    width: 100%;
  }

 /****************************
  * Text Input
  ****************************/

  #accordion-title-body, #accordion-description-body, #accordion-border-body {

    input {
      width: 100%;
    }

    textarea {
      width: 100%;
      height: 100px;
    }

    .slider-group {

      p {
        display: inline;
        vertical-align: middle;
      }

      .slider-control {
        width: 100%;
      }

      .btn-group {
        float: right;

        .btn {
          width: 50px;
        }
      }
    }

    .text-border-btn {
      float: right;
      width: 96px;
    }

    .text-bg-color-picker-parent {
      float: right;
      margin-right: 4px;
    }

    .border-color-picker-parent {
      float: right;
    }

    .sp-replacer {
      height: 18px;
      width: 40px;
      border-width: 0px;
      padding-top: 1px;
    }

    .sp-preview {
      width: 40px;
      height: 18px;
      border-color: #C0C0C0;
      border-radius: 4px;
    }

    .sp-dd {
      display: none;
    }
  }

 /****************************
  * Border
  ****************************/

  #accordion-border {

    .bdr-btn {
      width: 100px;
    }

    .bdr-toggle-btns {
      margin-left: 60px;
      margin-top: 6px;
    }
  }

 /****************************
  * Card Preview
  ****************************/

  #card-preview-view {

    .center {
      position: relative;
      margin: 0 auto;
      margin-top: 20px;
    }
  }

 /****************************
  * Cards Carosel
  ****************************/

  #cards-carosel {
    margin-top: 30px;
    width: 100%;

    .carousel-inner {
      height: 100%;
    }

    .center {
      position: relative;
      margin: 0 auto;
      margin-top :20px;
    }

    .carousel-indicators li {
      background-color: #a0a0a0;
    }

    .carousel-indicators .active {
      background-color: #303030;
    }

    .carousel-indicators.middle {
      left: 0;
      right: 0;
      top: auto;
      bottom: -21px;
      text-align: center;
    }

    .carousel-indicators.middle li {
      float: none;
      display: inline-block;
    }

    #cards-carosel-left-button {
      left: 0px;
      top: 45%;
    }

    #cards-carosel-right-button {
      right: 0px;
      top: 45%;
    }

    .edit-card-btn{
      display: block;
      margin: 0 auto;
      margin-top: 8px;
      width: 200px;
    }
  }

 /****************************
  * Background Image Carosel
  ****************************/

  #backgrounds-carosel {
    margin-top: 10px;
    height: 240px;
    margin-bottom: 2px;

    .background-view {
      width: 280px;
      height: 240px;
      margin-left: auto;
      margin-right: auto;
    }

    .background-view-image {
      display: block;
      margin: 0 auto;
      max-height: 200px;
      -webkit-box-shadow: 2px 2px 4px 0px rgba(48, 48, 48, .5);
      box-shadow: 2px 2px 4px 0px rgba(48, 48, 48, .5);
    }

    .background-view-btn {
      width: 280px;
      position: absolute;
      bottom: 0;
    }
  }
}
