.card-edit-view-parent {

  #card-preview-view {

    .center {
      position:relative;
      margin:0 auto;
      margin-top:20px;
    }
  }

  .label-left-might-NOTNEED {
    float: left;clear: left;
    margin-top:5px;
    width:100px;
  }

  .border-control {
    width:100%;
  }

  .color-control {
    width:420px;
  }

  ////////////////////////////////////////////////
  // background image carosel
  ///////////////////////////////////////////////

  #backgrounds-carosel {
    margin-top: 10px;
    height: 240px;
    margin-bottom: 2px;

    .background-view {
      width: 280px;
      height: 240px;
      margin-left: auto;
      margin-right: auto;
    }

    .background-view-image {
      display: block;
      margin: 0 auto;
      max-height: 200px;
      -webkit-box-shadow: 2px 2px 4px 0px rgba(48, 48, 48, .5);
      box-shadow: 2px 2px 4px 0px rgba(48, 48, 48, .5);
    }

    .background-view-btn {
      width: 280px;
      position: absolute;
      bottom: 0;
    }
  }
}
