/*****************************
 * These should only be used
 * cards.js
 ****************************/

 .cards-view {

  .card-view {
    margin: 20px;
    float: left;
    position: relative;

    .btn-group {
     // margin-right: -8px;
      margin-top: -20px;
      //float:right;

      .edit-card-btn {
        width: 50px;
      }

      .delete-card-btn {
        width: 50px;
      }
    }
  }
}
