.decks-view {

  .decks-list {
    margin-left: 40px;
  }

  .navbar {
    margin-bottom: 16px;
  }

  .navbar-inner {
    padding-right: 5px;
  }

  .deck-view {
    background-color: #F0F0F0;
    width: 200px;
    height: 300px;
    float: left;
    margin:7px;

    overflow: hidden;
    position:relative;
    border-radius:10px;
    -webkit-box-shadow:  1px 1px 4px 0px rgba(48, 48, 48, .5);
    box-shadow:  1px 1px 4px 0px rgba(48, 48, 48, .5);

    .edit-deck-button {
      position:absolute;
      left:125px;
      top:262px;
      width:40px;
    }

    .delete-deck-btn {
      position:absolute;
      left:8px;
      top:262px;
    }

    .btn-wide {
      width:91px;
    }

    .deck-name {
      color: rgb(119, 119, 119);
      display: block;
      float: left;
      font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
      font-size: 18px;
      font-weight: 200;
      line-height: 20px;
      margin-left: -10px;
      padding-bottom: 10px;
      padding-left: 20px;
      padding-right: 20px;
      padding-top: 6px;
      overflow:hidden;
      text-shadow: rgb(255, 255, 255) 0px 0.6666666865348816px 0px;
    }

    .line {
      border-top: 1px solid #d4d4d4;
      border-bottom: 1px solid #ffffff;
      position:absolute;
      left:0px;
      top:32px;
      width:100%;
    }
  }
}
