/***************************
 * vars
 ***************************/

$font-color: #fff;
$font-family: 'Lucida Sans Unicode', 'Lucida Grande', sans-serif;
$dark-text-shadow: 0 1px 0 rgba(255, 255, 255, 0.77);

/***************************
 * bootstrap overrides
 ***************************/

body {
  padding-top: 66px;
  background-color: #414141;
  font-family: $font-family;
  color: $font-color;
  text-shadow: 0 -1px 0 #000;
}
 
a {
  color: #7FACD1;
}

.table td {
 color: lightGrey;
 border-top: 1px solid #6D6D6D;
}

code, pre {
  font-family: $font-family;
}

input, button, select, textarea {
  font-family: $font-family;
}

input[type="checkbox"] {
  margin-top: 1px;
}

.navbar {
  border-top: 1px solid #eee;
  border-bottom: 1px solid #aaa;
  background-color: #dedede;
  min-height: 40px;
}

.hero-unit {
  
  // beta banner
  background-image:url('/assets/betabanner.png');
  background-repeat:no-repeat;
  background-position:right top;

  margin-bottom: 15px;
  border-radius: 8px;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #aaa;
  background-color: #dedede;
  color: #000;
  text-shadow: $dark-text-shadow;   

  p {
    color: #060624;
  }
}

legend {
    color: $font-color;
    text-shadow: 0 -1px 0 #000;
    border-bottom: 1px solid #7a7a7a;
  }

.lead {
  color: #414141;
}

.alert {
  color: #000;
}

.navbar .nav > li > a {
  float: none;
  padding: 10px 15px 10px;
  color: #333;
  text-decoration: none;
  text-shadow: 0 1px 0 #ffffff;
}

.modal {
    
  font-family: $font-family;
  color: #1A1A1A;
  background-color: #dedede;
  font-size: 20px;
  text-shadow: $dark-text-shadow;

  .modal-header {
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    
    color: #000;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.77);
    border-bottom: 1px solid #aaa;
    background-color: #ccc;
  }

  .modal-body {

background-color: #dedede;
      border-top: 1px solid #eee;
  }
}

/***************************
 * top navbar
 ***************************/

.navbar-fixed-top {

  #card-genisis {
    padding-right: 10px;
    padding-left: 16px;
    color: #1A1A1A;
    font-size: 20px;
    text-shadow: $dark-text-shadow;
  }

  #user-email {
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 12px;
    font-size: 12px;
    color: #1A1A1A;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.57);
  }

  #sign-out {
    color: #1A1A1A;
    text-shadow: $dark-text-shadow;
  }

  .avatar-small {
    margin-top: 3px;
    margin-right: 13px;
    margin-left: 12px;
    border-radius: 3px;
    vertical-align: text-top;
    -webkit-box-shadow:  1px 1px 4px 0px rgba( 0, 0, 0, 0.2 );
    box-shadow:  1px 1px 4px 0px rgba( 0, 0, 0, 0.2 );
  }

  #admin {
    color: #1A1A1A;
    text-shadow: $dark-text-shadow;
  }
}

/***************************
 * buttons
 ***************************/

$blue-btn-dark: #3e78a8;
$blue-btn-light:#2A3975 ;

.btn-blue {
  color: #FFFFFF;
  text-shadow: 0 -1px 0 #000;
  background-color: $blue-btn-light;
  *background-color: $blue-btn-light;
  background-image: -moz-linear-gradient(top, $blue-btn-dark, $blue-btn-light);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from($blue-btn-dark), to($blue-btn-light));
  background-image: -webkit-linear-gradient(top, $blue-btn-dark, $blue-btn-light);
  background-image: -o-linear-gradient(top, $blue-btn-dark, $blue-btn-light);
  background-image: linear-gradient(to bottom, $blue-btn-dark, $blue-btn-light);
  background-repeat: repeat-x;
  border-color: $blue-btn-light;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='$blue-btn-dark', endColorstr='$blue-btn-light', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}

.btn-blue:hover,
.btn-blue:focus,
.btn-blue:active,
.btn-blue.active,
.btn-blue.disabled,
.btn-blue[disabled] {
   color: #FFFFFF;
  background-color: $blue-btn-light;
  *background-color: $blue-btn-light;
}

$green-btn-dark: #279427;
$green-btn-light: #005F00;

.btn-green {
  color: #FFFFFF;
  text-shadow: 0 -1px 0 #000;
  background-color: $green-btn-light;
  *background-color: $green-btn-light;
  background-image: -moz-linear-gradient(top, $green-btn-dark, $green-btn-light);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from($green-btn-dark), to($green-btn-light));
  background-image: -webkit-linear-gradient(top, $green-btn-dark, $green-btn-light);
  background-image: -o-linear-gradient(top, $green-btn-dark, $green-btn-light);
  background-image: linear-gradient(to bottom, $green-btn-dark, $green-btn-light);
  background-repeat: repeat-x;
  border-color: $green-btn-light;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='$green-btn-dark', endColorstr='$green-btn-light', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}

.btn-green:hover,
.btn-green:focus,
.btn-green:active,
.btn-green.active,
.btn-green.disabled,
.btn-green[disabled] {
  color: #FFFFFF;
  background-color: $green-btn-light;
  *background-color: $green-btn-light;
}
  
$red-btn-dark: #C24747;
$red-btn-light: #530A0A;

.btn-red {
  color: #FFFFFF;
  text-shadow: 0 -1px 0 #000;
  background-color: $red-btn-light;
  *background-color: $red-btn-light;
  background-image: -moz-linear-gradient(top, $red-btn-dark, $red-btn-light);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from($red-btn-dark), to($red-btn-light));
  background-image: -webkit-linear-gradient(top, $red-btn-dark, $red-btn-light);
  background-image: -o-linear-gradient(top, $red-btn-dark, $red-btn-light);
  background-image: linear-gradient(to bottom, $red-btn-dark, $red-btn-light);
  background-repeat: repeat-x;
  border-color: $red-btn-light;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='$red-btn-dark', endColorstr='$red-btn-light', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}

.btn-red:hover,
.btn-red:focus,
.btn-red:active,
.btn-red.active,
.btn-red.disabled,
.btn-red[disabled] {
  color: #FFFFFF;
  background-color: $red-btn-light;
  *background-color: $red-btn-light;
}


$black-btn-dark: #5E5E5E;
$black-btn-light: #272727;

.btn-black {
  color: #FFFFFF;
  text-shadow: 0 -1px 0 #000;
  background-color: $black-btn-light;
  *background-color: $black-btn-light;
  background-image: -moz-linear-gradient(top, $black-btn-dark, $black-btn-light);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from($black-btn-dark), to($black-btn-light));
  background-image: -webkit-linear-gradient(top, $black-btn-dark, $black-btn-light);
  background-image: -o-linear-gradient(top, $black-btn-dark, $black-btn-light);
  background-image: linear-gradient(to bottom, $black-btn-dark, $black-btn-light);
  background-repeat: repeat-x;
  border-color: $black-btn-light;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='$black-btn-dark', endColorstr='$black-btn-light', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}

.btn-black:hover,
.btn-black:focus,
.btn-black:active,
.btn-black.active,
.btn-black.disabled,
.btn-black[disabled] {
  color: #FFFFFF;
  background-color: $black-btn-light;
  *background-color: $black-btn-light;
}

/***************************
 * tour
 ***************************/

.tour-backdrop {
  opacity: 0.4;
}

.popover {
  color: #000000;
  text-shadow: none;
  
  .popover-navigation .btn-group {
    display: inline;
  }

}

/***************************
 * misc
 ***************************/

.tour-backdrop {
  opacity: 0.4;
}

.popover {
  color: #000000;

  .popover-navigation .btn-group {
    display: inline;
  }

}

.btn-toolbar {
    margin-left: 0px;
}

#idadvatar{
  border-radius: 8px;
  margin-top: 0px;
  margin-left: 20px;
  -webkit-box-shadow:  1px 1px 4px 0px rgba(48, 48, 48, .5);
  box-shadow:  1px 1px 4px 0px rgba(48, 48, 48, .5);
}

.line {
  height: 0px;
  margin-top: 14px;
  border-bottom: 1px solid #7a7a7a;
  width: 100%;
}

.home-page-forms {
  margin-top: 40px;
  
  .form-horizontal .control-label {
    width: 120px;
    font-size: 13px;
  }

  .form-horizontal .controls {
    margin-left:140px; 
  }

  .btn {
    width: 220px;
  }
}

.centered {
  text-align:center;
}

.btn-wide { 
  width:200px;
}