.feedback-form {

  margin-bottom: 0px;
  
  #sub, #bdy {
    width: 97%;
  }

  .control-group {
    width: 100%;
  }
  
  .control-label {
    font-size: 13px;
  }
}

#suck-btn {
  margin-top: 10px;
}