.games-view {

  .game-view {
    margin-left:16px;
    width:907px;
    height: 212px;
    border:1px solid #d0d0d0;
    background-color: #fafafa;
    -webkit-box-shadow:  2px 2px 4px 0px rgba(48, 48, 48, .3);
    box-shadow:  2px 2px 4px 0px rgba(48, 48, 48, .3);
    border-radius:10px;
    margin-top:19px;

    .edit-game-button {
      width:150px;
      position:relative;
      left:651px;
      top:124px;
    }

    .delete-game-btn {
      position:relative;
      left:7px;
      top:124px;
    }

    .game-name {
      margin:10px;
    }
  }
}
