#image-style-carosel {
  margin-top: 10px;
  height:240px;
  margin-bottom: 2px;
}

.image-view {
  width: 280px;
  height: 240px;
  margin-left:auto;
  margin-right:auto;
}

img{
   -webkit-box-shadow: 2px 2px 4px 0px rgba(48, 48, 48, .5);
  box-shadow: 2px 2px 4px 0px rgba(48, 48, 48, .5);
}

.use-image-btn
{
  margin-top: 7px;
  width: 280px;

}

.accordion{
  margin-bottom:5px;
}
.accordion-group {

  border: 0px;
}

.accordion-inner {
  border-top: 0px;
}

.btn-wide {
  width:100%;
}

input {
  width:96%;
}

textarea {
  width:96%;
height:200px;
}
