.jcard
{
    margin:0;
    padding:0;
    margin-left: auto;
    margin-right: auto;
    width:  248px;
    height: 346px; 
    background-color: #808080;
    overflow: hidden;
    border-radius: 10px;
}
 
.jcard-bg-image {
  left: 0px; 
  top: 0px;
  max-width: 248px; 
}
 