.jcard {
  width: 248px;
  height: 346px; 
  margin: 0;
  padding: 0;
  margin-left: auto;
  margin-right: auto;
  background-color: #808080;
  overflow: hidden;
  border-radius: 10px;
}
 
.jcard-bg-image {
  left: 0px; 
  top: 0px;
  max-width: 248px; 
}
 
 .jcard-text {
  position: absolute; 
  height: 39px; 
  width: 93px; 
  text-align: center;
 }