.card-carousels-view .item {
  height: 346px;
}

.control-row {
  margin-bottom: 10px;
  width: 100%;
  padding-bottom: 5px;

  .title {
    border-bottom: 1px solid #7a7a7a;

    color: #fff;
    width: 100%;
    display: block;
    margin-bottom: 5px;
    padding-bottom: 5px;
  }

  .small-label {
    display: inline-block;
    padding: 2px 4px;
    font-size: 11.844px;
    font-weight: bold;
    line-height: 14px;
    color: #8a8a8a;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    white-space: nowrap;
    vertical-align: baseline;
    background-color: rgba(0,0,0,0);
  }

  textarea {
    width: 95%;
    resize: none;
  }
}
 
#prev-btn, #next-btn {
  width: 100px;
}

#next-prev-btns {
  margin-left: 62px;
}

#top-toolbar {
  background-color: #ccc;
  min-height: 40px;
  white-space: nowrap;
  overflow-x: auto;
  overflow-y: hidden;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #aaa;
  padding-left: -20px;
 
  .center-btns {
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 223px;
  }
  
  .row {
    margin-left: auto;
    margin-right: auto;
    width: 1200px;
  
    .lefty {
      margin-left: 15px;
    } 
  }

  .btn-group {
    padding-top: 5px;
  }

  #save-btn {
    width: 100px;
  }
}

.jselected {
  outline-color: #ff0;//rgba (255,255,0,0.3);  
  outline-style: dotted;
  outline-width: 1px;
}

.color-picker-btn {
  padding-left: 6px;
  padding-right: 6px;
  width: 26px;
}

.sp-replacer {
  height: 16px;
  width: 20px;
  border-width: 0px;
  margin-top: -2px;
  padding: 0px;
  background-color: rgba(0, 0, 0, 0);
}

.sp-preview {
  width: 20px;
  height: 16px;
  border-color: rgba(0, 0, 0, 1);
  border-width: 0px;
  margin-right: 0px;
}

.sp-container {
  background-color:  rgba( 236, 236, 236, 0.94 );
  border-radius: 3px;
  border-color: #CCC;
  -webkit-box-shadow: 2px 2px 4px 0px rgba( 48, 48, 48, .3 );
  box-shadow: 2px 2px 4px 0px rgba( 48, 48, 48, .3 );
}

.sp-dd {
  display: none;
}
