.card-carousels-view .item {
  height: 346px;
  margin-left: 25px;
}

#prev-btn, #next-btn {
  width:100px;
}

#next-prev-btns {
  margin-left: 29px;
}

#top-toolbar {
  background-color: #ccc;
  min-height: 40px;
  white-space: nowrap;
  overflow-x: auto;
  overflow-y: hidden;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #aaa;
  padding-left: 10px;

  .btn-group {
    padding-top: 5px;
  }
}



.color-picker-btn {
  padding-left:6px;
  padding-right:6px;
}

.sp-replacer {
  height: 16px;
  width: 20px;
  border-width: 0px;
  margin-top: -2px;
  padding: 0px;
  background-color: rgba(0, 0, 0, 0);
}

.sp-preview {
  width: 20px;
  height: 16px;
  border-color: rgba(0, 0, 0, 1);
  border-width:0px;
  margin-right: 0px;
}

.sp-container {
  background-color:  rgba( 236, 236, 236, 0.94 );
  border-radius: 3px;
  border-color: #CCC;
  -webkit-box-shadow: 2px 2px 4px 0px rgba( 48, 48, 48, .3 );
  box-shadow: 2px 2px 4px 0px rgba( 48, 48, 48, .3 );
}

.sp-dd {
  display: none;
}
