/****************************
 * Defaults for jscroller
 ****************************/

.jscroller {
  font-size: 0;

  .jscroller-ul {
    width: 100%;
    display: block;
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
    list-style: none;
    list-style-type: none;
    vertical-align: baseline;
    border:0; 
    margin:0;
    padding:0;
   
    li {
      margin: 10px 0px 10px 10px;
      overflow: hidden;
      display: inline-block;
      vertical-align: top;
      padding:0;
    }
    
    .jselected {
      outline: #ff0 solid 4px;
    }  
  }
}

/*******************************
 * Customizations for tags view
 ******************************/

.tags-view {
  background-color:rgba(0, 0, 0, 0.1)
}

.jscroller .jscroller-ul .tag {
  font-size: 12px;
  padding-left: 20px;
  padding-right: 20px;
  margin: 10px 0px 10px 10px;
  border-radius:10px;
  background-color:rgba(0, 0, 0, 0.2);
}

.tags-view .jscroller-ul .jselected {
  outline: 0px;
  color:#fff;
  background-color:rgba(0, 0, 0, 0.5);
}

/********************************
 * Customizations for imagesview
 *******************************/

.images-view {
  height: 370px;
}






