/****************************
 * Defaults for jscroller
 ****************************/

.jscroller {
  font-size: 0;

  .jscroller-ul {
    width: 100%;
    display: block;
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
    list-style: none;
    list-style-type: none;
    vertical-align: baseline;
    border:0; 
    margin:0;
    padding:0;
   
    li {
      margin: 10px 0px 10px 10px;
      overflow: hidden;
      display: inline-block;
      vertical-align: top;
      padding:0;
    }
    
    .jselected {
      outline: #ff0 solid 4px;
    }  
  }
}

/*******************************
 * Customizations for tags view
 ******************************/

.tags-view {
  background-color:#ccc;
  min-height: 40px;
  white-space: nowrap;  overflow-x:auto;
  overflow-y:hidden;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #aaa;
  color: #000;
  text-shadow: none;
}

#show-hide-tags-btn {
  margin-top:1px;
}

.jscroller .jscroller-ul .tag {
  font-size: 12px;
  padding-left: 20px;
  padding-right: 20px;
  margin: 10px 0px 10px 10px;
  border-radius:10px;
  background-color: #ddd;
  border: 1px solid #bbb;
}

.tags-view .jscroller-ul .jselected {
  outline: 0px;
  color:#fff;
  border-color:#414141;
  background-color:#414141;
}

.tags-view .jscroller-ul {
  margin-left: 55px;
  display: inline;
}

.tags-view .left-button {
  display: inline-block;
  font-size: 12px;
  margin-left: 10px;
  margin-top: 7px;
  height: 100%;
}

.tags-view .left-label {
  margin-left: 10px;
  margin-top: 4px;
  font-size: 18px;
  display: inline-block;
  vertical-align: -20%;
}

/********************************
 * Customizations for imagesview
 *******************************/

.images-view {
  background-color: #dedede;
  min-height: 220px;
}