#card-style-carosel {
  margin-top: 16px;
  height:345px;
}

.carosel-card {
  width: 355px;
  height: 365px;
  margin-left:auto;
  margin-right:auto;
}

.card-style-btn
{
  width: 235px;
  margin-left: 60px;
  margin-top: -20px;
}
