#card-style-carosel {
  margin-top: 16px;
  margin-bottom: 0px;
  height:395px;
}

.carosel-card-parent {
  width: 355px;
  height: 395px;
  margin-left:auto;
  margin-right:auto;
  position: relative;
}

.card-style-btn {
  width: 235px;
  margin-left: 60px;
  margin-top: 6px;
}
