#card-style-carosel {
  margin-top: 16px;
  height:306px;
}

.carosel-card {
  width: 200px;
  height: 306px;
  margin-left:auto;
  margin-right:auto;
}

.card-style-btn
{
  width: 182px;
  position: relative;
  left:9px;
  top:261px;
}
