<div class="show-deck">
    <div class="navbar">
    <div class="navbar-inner">
      <div class="container">
        <div class="brand" href="">Edit Deck</div>
          <a href="javascript:history.back();" class="btn btn-danger pull-right">Back to Game</a>
        </div>
      </div>
    </div>
  <div>

  <div class="hero-unit">
    <h1><%= @deck.name %></h1>
    <p><%= @deck.description %></p>
    <p>
      <a class="btn btn-primary btn-large">
        Bla
      </a>
    </p>
  </div>

  <!-- Load the decks -->
  <script type="text/javascript">
    window.App = window.App || {};
    window.App.data = window.App.data || {};
    App.data.deck_id = <%= @deck.id %>;
    $(function(){getCards('.show-deck');});
  </script>
</div>
