<div class="hero-holder"></div>

<div class="btn-toolbar ">
  <button id="add-card-btn" class="btn btn-large btn-blue">Add a New Card</button>
   <a class="btn btn-black btn-large pull-right" href="/games/<%= params[:game_id] %>">Back to Game</a>
</div>

<div class="cards-holder">

<br>
</div>

<script type="text/javascript">

  $(function()
  {
    getDeckHero('.hero-holder', <%= @deck.to_json.to_s.html_safe %>);
    addCardsView ('.cards-holder',<%= @deck.id %>,true,true);
  });

  $("#add-card-btn").bind("click", function()
  {
    window.App.views.cardsView.newCard();
  });

</script>
